// https://coolors.co/fed766-3babdb-d84e6c-efa537-32b57c

$white: #ffffff;
$black: #000000;
$yellow: #FED766;
$green: #32B57C;
$orange: #EFA537;
$red: #D84E6C;
$blue: #3BABDB;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Sarabun', sans-serif;
}

.header {
  background-color: $yellow;
  padding: 100px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  z-index: 9;

  h1 {
    margin: 0;
    font-size: 5em;
  }
}

.wrapper {
  margin-top: 300px;
}

section {
  padding: 30px 50px;
  border-bottom: .5px solid #ccc;

  .section-container {
    max-width: 800px;
    margin: 0 auto;
  }
}

.effect {
  cursor: pointer;
  color: $white;
  opacity: 0.7;
  border-radius: 7px;
  display: inline-block;
  padding: 10px 15px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
  transition: opacity 0.5s ease-in-out;
  font-family: 'Roboto', serif;
  font-size: 1em;
  font-weight: 500;
  transition-property: opacity, background-color;
  transition-duration: .5s;
  &:hover {
    opacity: 1;
  }

  &.active {
    opacity: 1;
    background-color: black;
  }
}

.halfline span {
  background-color: $green;
}

.both-side span {
  background-color: $orange;
}

.corners-close span {
  background-color: $blue;
}

.corners-expand span {
  background-color: $red;
}

.double-linethrough span {
  background-color: $green;
}

.double-underline span {
  background-color: $orange;
}

.fill span {
  background-color: $blue;
}

.fill-corners span {
  background-color: $red;
}

.linethrough span {
  background-color: $green;
}

.moves span {
  background-color: $orange;
}

.side-line span {
  background-color: $blue;
}

.overline span {
  background-color: $red;
}

.underline span {
  background-color: $green;
}
